@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500;1,700&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #346789;
}

.container{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 40%;
}

.form{
    text-align: left;
}

.form-group{
    margin: 10px 0;
}

label{
    display: block;
    font-weight: 500;
}

input[type="text"],
input[type="email"],
textarea{
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error{
    color: #d9534f;
}

button{
    background-color: #d9534f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.success{
    color: rgba(16, 85, 75, 0.533);
    font-weight: 500;
    font-size: 30px;
}




























